<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>
  
    <h1>Sign up to Chitter!</h1>
    <div id="content">
      <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="password_confirmation" placeholder="Confirm password" required><br/>
        <input type="submit" value="Sign up!" id="signup_button"></button>
      </form>
    </div>

  </body>
</html>