<h1>All Peeps</h1>

<ul>
  <% @peeps.each do | peep | %>
    <li><%= peep.text %></li>
  <% end %>
</ul>

<h1>Post a peep!</h1>
<form action="/post_peep" method="post">
    <label for="text">Message:</label>
    <input type="text" name="text" required><br>
    <button type="submit" value="Post peep">Post peep</button>
</form>
