<h1><%= @name ? "Hi #{@name} - #{@username}" : "Welcome to Chitter!" %></h1>

<% if !@name %>
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
<% else %>
  <a href="/logout">Logout</a>
<% end %>

<h1>Peeps</h1>
<ul>
  <% @peeps.each do |peep| %>
    <li><%= "#{peep.get_user_info.username} peeped: #{peep.text}"%></li>
  <% end %>
</ul>

<% if @name %>
  <form action="/post_peep" method="post">
    <input type="text" name="text" placeholder="message" required>
    <button type="submit" value="Post peep">Peep!</button>
  </form>
<% end %>

