:root {
  --blue: rgb(77, 195, 255);
  --green: rgb(0, 252, 214);
  --orange: rgb(255, 174, 90);
  --pink: rgb(255, 106, 183);
  --purple: rgb(178, 125, 232);
  --red: rgb(255, 0, 100);
}

body {
  background: #444;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: white;
  text-align: left;
}

* {
  border-radius: 5px;
  text-shadow: 1px 1px #333;
}

#content {
  display: flex;
  justify-content: center;
}

#navbar {
  background: #666;
  width: 50%;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  padding: 5px;
  border: 2px solid var(--orange);
  box-shadow: inset 0px 0px 10px -5px #000000, 0px 0px 10px -5px #000000;
}

#links {
  float: left;
  padding: 5px;
}

#peeps {
  width: 50%;
  position: absolute;
  top: 107px;
}

#peeps li:hover {
  background: #666;
  cursor: pointer;
}

#poster_name, #interaction {
  font-weight: 500;
}

#poster_name:hover {
  color: var(--green);
}

#interaction:hover {
  color: var(--green);
}

#post_peep {
  position: absolute;
  top: 60px;
  margin-top: 10px;
  right: 10px;
  width: 20%;
}

input[type=text], textarea, input[type=password], input[type=email], input[type=submit] {
  background-color: #666;
  font-family: 'Rubik', sans-serif;
  border: none;
  color: white;
  font-size: 14pt;
  padding: 5px 10px;
  text-decoration: none;
  border: 2px solid var(--orange);
  caret-color: var(--green);
}

#login, #signup {
  border: 1px solid var(--orange);
  padding: 10px;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

#login_button, #signup_button {
  width: 100%;
  margin-top: 10px;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

input[type=text], textarea, input[type=password], input[type=email] {
  margin-bottom: 5px;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

#text, #peep_button, #charNum {
  width: 80%;
  font-size: 12pt;
  padding: 8px 10px;
  text-align: justify;
  float: left;
  display: flex;
}

::placeholder {
  color: white;
}

input[type=text]:hover, textarea:hover, input[type=password]:hover, input[type=email]:hover {
  outline: none;
  border: 2px solid var(--green);
  color: var(--green);
}

input[type=text]:focus, textarea:focus, input[type=password]:focus, input[type=email]:focus {
  outline: none;
  border: 2px solid var(--green);
  color: var(--green);
}

input[type=submit]:focus, input[type=submit]:hover {
  border: 2px solid var(--green);
  outline: none;
  cursor: pointer;
  color: var(--green);
}

input[type=submit] {
  float: right;
  margin-left: 10px;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

a:link {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

a:visited {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

a:hover {
  text-decoration: none;
  margin-left: 10px;
  color: var(--orange);
}

a:active {
  text-decoration: none;
  margin-left: 10px;
  color: var(--orange);
}

ul {
  list-style-type: none;
  padding: none;
  margin-left: -40px;
  line-height: 1.4;
}

li {
  background: #555;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
  margin-bottom: 15px;
  padding: 5px 10px 20px;
}

ul li:nth-child(even) {
  color: var(--pink);
  border: 2px solid var(--pink);
}

ul li:nth-child(even) a {
  color: var(--pink);
  margin-left: 0;
}

ul li:nth-child(odd) {
  color: var(--blue);
  border: 2px solid var(--blue);
}

ul li:nth-child(odd) a {
  color: var(--blue);
  margin-left: 0;
}

#navbar_links {
  width: 50%;
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  border: 2px solid var(--orange);
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

#navbar_links li {
  float: left;
  border: 2px solid var(--orange);
  margin: 5px;
  padding: 0;
  width: 70%;
}

#navbar_links li:nth-child(1), #navbar_links li:nth-child(3) {
  width: 12%;
}

#navbar_links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

#navbar_links li:hover {
  border: 2px solid var(--green);
}

#navbar_links li a:hover {
  color: var(--green);
}

#poster_name, #poster_username {
  text-align: left;
}

#poster_username {
  text-align: left;
  font-weight: 300;
  color: #ccc;
}
#peep_time {
  text-align: right;
  font-weight: 300;
  float: right;
  color: #aaa;
}

#edited {
  font-weight: 300;
  float: right;
  padding-right: 20px;
  color: #aaa;
}


#peep_text {
  color: white;
  padding: 5px 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-align: left;
  margin: 0px;
  padding: 5px 5px 5px;
  text-align: justify;
}

h1 {
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #6660, #999F, #6660);
}

#charNum {
  position: relative;
  left: 15%;
}

#peep_options {
  display: flex;
  align-items: right;
  margin-bottom: -10px;
  box-shadow: none;
  background: none;
}

#peep_options form {
  float: right;
  margin-right: 10px;
}

#delete_peep, #edit_peep {
  all: unset;
  right: 10px;
  color: #aaa;
  font-weight: 500;
  font-size: 14px;
}

#delete_peep:hover {
  font-weight: 500;
  color: var(--red);
}

.peep_delete {
  border: 2px solid var(--red) !important;
}

.peep_delete > *, .peep_delete #poster_username, .peep_delete #interaction {
  color: var(--red) !important;
}

#edit_peep:hover {
  font-weight: 500;
  color: var(--orange);
}

.peep_edit {
  border: 2px solid var(--orange) !important;
}

.peep_edit > *, .peep_edit #poster_username, .peep_edit #interaction {
  color: var(--orange) !important;
}
