body {
  background: #444;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: white;
  text-align: left;
}

* {
  border-radius: 5px;
  text-shadow: 1px 1px #333;
}

#content {
  display: flex;
  justify-content: center;
}

#navbar {
  background: #666;
  width: 50%;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16pt;
  padding: 5px;
  border: 2px solid rgb(255, 174, 90);
  box-shadow: inset 0px 0px 10px -5px #000000, 0px 0px 10px -5px #000000;
}

#links {
  float: left;
  padding: 5px;
}

#peeps {
  width: 50%;
  position: absolute;
  top: 107px;
}

#peeps li:hover {
  background: #666;
  cursor: pointer;
  border: 2px solid rgb(0, 252, 214);
}

#peeps li:hover #poster_name {
  color: rgb(0, 252, 214);
}

#post_peep {
  position: absolute;
  top: 60px;
  margin-top: 10px;
  right: 10px;
  width: 20%;
}

textarea, input[type=password], input[type=email], input[type=submit] {
  background-color: #666;
  font-family: 'Rubik', sans-serif;
  border: none;
  color: white;
  font-size: 14pt;
  padding: 5px 10px;
  text-decoration: none;
  border: 2px solid rgb(255, 174, 90);
}

#login, #signup {
  border: 1px solid rgb(255, 174, 90);
  padding: 10px;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

#login_button, #signup_button {
  width: 100%;
  margin-top: 10px;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

textarea, input[type=password], input[type=email] {
  margin-bottom: 5px;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

#text, #peep_button, #charNum {
  width: 80%;
  font-size: 12pt;
  padding: 8px 10px;
  text-align: justify;
  float: left;
  display: flex;
}

::placeholder {
  color: white;
}

textarea:hover, input[type=password]:hover, input[type=email]:hover {
  outline: none;
  border: 2px solid rgb(0, 252, 214);
}

textarea:focus, input[type=password]:focus, input[type=email]:focus {
  outline: none;
  border: 2px solid rgb(0, 252, 214);
}

input[type=submit]:focus, input[type=submit]:hover {
  border: 2px solid rgb(0, 252, 214);
  outline: none;
  cursor: pointer;
  color: rgb(0, 252, 214);
}

input[type=submit] {
  float: right;
  margin-left: 10px;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

a:link {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

a:visited {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

a:hover {
  text-decoration: none;
  margin-left: 10px;
  color: rgb(255, 174, 90);
}

a:active {
  text-decoration: none;
  margin-left: 10px;
  color: rgb(255, 174, 90);
}

ul {
  list-style-type: none;
  padding: none;
  margin-left: -40px;
  line-height: 1.4;
}

li {
  background: #555;
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
  margin-bottom: 10px;
  padding: 5px 10px;
}

ul li:nth-child(even) {
  color: rgb(255, 106, 183);
  border: 2px solid rgb(255, 106, 183);
}

ul li:nth-child(even) a {
  color: rgb(255, 106, 183);
  margin-left: 0;
}

ul li:nth-child(odd) {
  color: rgb(77, 195, 255);
  border: 2px solid rgb(77, 195, 255);
}

ul li:nth-child(odd) a {
  color: rgb(77, 195, 255);
  margin-left: 0;
}

#navbar_links {
  width: 50%;
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  border: 2px solid rgb(255, 174, 90);
  box-shadow: inset 0px 0px 10px -3px #000000, 0px 0px 10px -3px #000000;
}

#navbar_links li {
  float: left;
  border: 2px solid rgb(255, 174, 90);
  margin: 5px;
  padding: 0;
  width: 70%;
}

#navbar_links li:nth-child(1), #navbar_links li:nth-child(3) {
  width: 12%;
}

#navbar_links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

#navbar_links li:hover {
  border: 2px solid rgb(0, 252, 214);
}

#navbar_links li a:hover {
  color: rgb(0, 252, 214);
}

#poster_name, #poster_username {
  text-align: left;
  font-weight: 500;
}

#poster_username {
  text-align: left;
  font-weight: 300;
  color: #ccc;
}

#peep_time {
  text-align: right;
  font-weight: 300;
  float: right;
  color: #aaa;
}

#peep_text {
  color: white;
  padding: 5px 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-align: left;
  margin: 0px;
  padding: 10px 20px 10px;
  text-align: justify;
}

h1 {
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #6660, #999F, #6660);
}

#charNum {
  position: relative;
  left: 15%;
}
